services:
    web:
        build:
            context: ./web
            dockerfile: Dockerfile
        restart: unless-stopped
        env_file:
            - ./web/.env.production
        ports:
            - "80:80"
        volumes:
            - ./web/nginx.conf:/etc/nginx/conf.d/default.conf:ro

    server:
        build:
            context: ./server
            dockerfile: Dockerfile
        ports:
            - "8000:8000"
        expose:
            - "8000"
        env_file:
            - ./server/.env.production
        restart: unless-stopped
